


<div class="media msg">

      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
    <div class="col-md-11 ">
      <div class="alert row alert-info" role="alert">
      <p class="media-heading"><%= message.user.name %>
        <small class="text-muted time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(message.created_at) %> ago</small>
      </p>
      <strong><%= message.body %></strong>
      </div>
    </div>


</div>
