<div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container-fluid">
        <div class="about">
          <h4>About</h4>
          <p class="text-muted">Quickieee © is a troll app for practicing Action Cable features.</p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#">@katpadi</a></li>
            <li><a href="hello@katpadi.ph">email</a></li>
            <% if @current_user %>
            <%= link_to "Check out", destroy_user_session_path, method: :delete %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a href="#" class="navbar-brand">Quickieee!</a>
      </div>
    </div>
